body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1340px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:167px;
  top:170px;
  width:320px;
  height:890px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:890px;
}
#u1 {
  position:absolute;
  left:2px;
  top:437px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:167px;
  top:149px;
  width:320px;
  height:40px;
  font-size:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:167px;
  top:130px;
  width:320px;
  height:20px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u5 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:167px;
  top:154px;
  width:30px;
  height:30px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:177px;
  top:419px;
  width:123px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#99CCFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:19px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:177px;
  top:448px;
  width:300px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u11 {
  position:absolute;
  left:322px;
  top:458px;
  width:10px;
  height:249px;
}
#u11_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u11_end {
  position:absolute;
  left:-5px;
  top:232px;
  width:20px;
  height:18px;
}
#u11_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:249px;
}
#u12 {
  position:absolute;
  left:191px;
  top:468px;
  width:109px;
  height:68px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:68px;
}
#u13 {
  position:absolute;
  left:2px;
  top:26px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:191px;
  top:541px;
  width:109px;
  height:39px;
  font-size:12px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:39px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:348px;
  top:468px;
  width:109px;
  height:68px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:68px;
}
#u17 {
  position:absolute;
  left:2px;
  top:26px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:348px;
  top:541px;
  width:109px;
  height:39px;
  font-size:12px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:39px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:168px;
  top:189px;
  width:318px;
  height:55px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:55px;
}
#u21 {
  position:absolute;
  left:2px;
  top:20px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:187px;
  top:200px;
  width:30px;
  height:30px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u23 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:237px;
  top:223px;
  width:60px;
  height:12px;
  font-size:9px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:12px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:258px;
  top:222px;
  width:12px;
  height:13px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:13px;
}
#u27 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:227px;
  top:203px;
  width:123px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#A1A1A1;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:380px;
  top:199px;
  width:30px;
  height:30px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u31 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:420px;
  top:203px;
  width:123px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#A1A1A1;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:191px;
  top:595px;
  width:109px;
  height:68px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:68px;
}
#u35 {
  position:absolute;
  left:2px;
  top:26px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:177px;
  top:579px;
  width:300px;
  height:10px;
}
#u36_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u36_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u36_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u37 {
  position:absolute;
  left:191px;
  top:668px;
  width:109px;
  height:39px;
  font-size:12px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:39px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:348px;
  top:595px;
  width:109px;
  height:68px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:68px;
}
#u40 {
  position:absolute;
  left:2px;
  top:26px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:348px;
  top:668px;
  width:109px;
  height:39px;
  font-size:12px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:39px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:191px;
  top:254px;
  width:281px;
  height:146px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:146px;
}
#u44 {
  position:absolute;
  left:2px;
  top:65px;
  width:277px;
  visibility:hidden;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:972px;
  top:157px;
  width:300px;
  height:80px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:972px;
  top:260px;
  width:330px;
  height:16px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:16px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:132px;
  top:416px;
  width:25px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u50 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:1072px;
  top:348px;
  width:228px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:19px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:1072px;
  top:265px;
  width:238px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:19px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:191px;
  top:265px;
  width:300px;
  height:16px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:177px;
  top:717px;
  width:123px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#99CCFF;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:19px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:177px;
  top:746px;
  width:300px;
  height:10px;
}
#u59_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u60 {
  position:absolute;
  left:322px;
  top:756px;
  width:10px;
  height:122px;
}
#u60_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u60_end {
  position:absolute;
  left:-5px;
  top:105px;
  width:20px;
  height:18px;
}
#u60_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:122px;
}
#u61 {
  position:absolute;
  left:191px;
  top:766px;
  width:109px;
  height:68px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:68px;
}
#u62 {
  position:absolute;
  left:2px;
  top:26px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:191px;
  top:839px;
  width:109px;
  height:39px;
  font-size:12px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:39px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:348px;
  top:766px;
  width:109px;
  height:68px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:68px;
}
#u66 {
  position:absolute;
  left:2px;
  top:26px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:348px;
  top:839px;
  width:109px;
  height:39px;
  font-size:12px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:39px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:177px;
  top:871px;
  width:300px;
  height:10px;
}
#u69_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u69_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u69_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u70 {
  position:absolute;
  left:322px;
  top:881px;
  width:10px;
  height:122px;
}
#u70_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u70_end {
  position:absolute;
  left:-5px;
  top:105px;
  width:20px;
  height:18px;
}
#u70_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:122px;
}
#u71 {
  position:absolute;
  left:191px;
  top:891px;
  width:109px;
  height:68px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:68px;
}
#u72 {
  position:absolute;
  left:2px;
  top:26px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:191px;
  top:964px;
  width:109px;
  height:39px;
  font-size:12px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:39px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:348px;
  top:891px;
  width:109px;
  height:68px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:68px;
}
#u76 {
  position:absolute;
  left:2px;
  top:26px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:348px;
  top:964px;
  width:109px;
  height:39px;
  font-size:12px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:39px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:132px;
  top:254px;
  width:25px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u80 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:132px;
  top:717px;
  width:25px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u82 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:586px;
  top:170px;
  width:320px;
  height:890px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:890px;
}
#u84 {
  position:absolute;
  left:2px;
  top:437px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:586px;
  top:149px;
  width:320px;
  height:40px;
  font-size:16px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u86 {
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:586px;
  top:130px;
  width:320px;
  height:20px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u88 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:586px;
  top:154px;
  width:30px;
  height:30px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u90 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:596px;
  top:419px;
  width:123px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#99CCFF;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:19px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:596px;
  top:448px;
  width:300px;
  height:10px;
}
#u93_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u93_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u93_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u94 {
  position:absolute;
  left:741px;
  top:458px;
  width:10px;
  height:249px;
}
#u94_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u94_end {
  position:absolute;
  left:-5px;
  top:232px;
  width:20px;
  height:18px;
}
#u94_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:249px;
}
#u95 {
  position:absolute;
  left:610px;
  top:468px;
  width:109px;
  height:68px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:68px;
}
#u96 {
  position:absolute;
  left:2px;
  top:26px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:610px;
  top:541px;
  width:109px;
  height:39px;
  font-size:12px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:39px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:767px;
  top:468px;
  width:109px;
  height:68px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:68px;
}
#u100 {
  position:absolute;
  left:2px;
  top:26px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:767px;
  top:541px;
  width:109px;
  height:39px;
  font-size:12px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:39px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:587px;
  top:189px;
  width:318px;
  height:55px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:55px;
}
#u104 {
  position:absolute;
  left:2px;
  top:20px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:610px;
  top:595px;
  width:109px;
  height:68px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:68px;
}
#u106 {
  position:absolute;
  left:2px;
  top:26px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:596px;
  top:579px;
  width:300px;
  height:10px;
}
#u107_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u107_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u107_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u108 {
  position:absolute;
  left:610px;
  top:668px;
  width:109px;
  height:39px;
  font-size:12px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:39px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:767px;
  top:595px;
  width:109px;
  height:68px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:68px;
}
#u111 {
  position:absolute;
  left:2px;
  top:26px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:767px;
  top:668px;
  width:109px;
  height:39px;
  font-size:12px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:39px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:610px;
  top:254px;
  width:281px;
  height:146px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:146px;
}
#u115 {
  position:absolute;
  left:2px;
  top:65px;
  width:277px;
  visibility:hidden;
  white-space:nowrap;
}
#u116 {
  position:absolute;
  left:551px;
  top:416px;
  width:25px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u117 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:610px;
  top:265px;
  width:300px;
  height:16px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:596px;
  top:717px;
  width:123px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#99CCFF;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:19px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:596px;
  top:746px;
  width:300px;
  height:10px;
}
#u122_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u122_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u122_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u123 {
  position:absolute;
  left:741px;
  top:756px;
  width:10px;
  height:122px;
}
#u123_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u123_end {
  position:absolute;
  left:-5px;
  top:105px;
  width:20px;
  height:18px;
}
#u123_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:122px;
}
#u124 {
  position:absolute;
  left:610px;
  top:766px;
  width:109px;
  height:68px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:68px;
}
#u125 {
  position:absolute;
  left:2px;
  top:26px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:610px;
  top:839px;
  width:109px;
  height:39px;
  font-size:12px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:39px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:767px;
  top:766px;
  width:109px;
  height:68px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:68px;
}
#u129 {
  position:absolute;
  left:2px;
  top:26px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:767px;
  top:839px;
  width:109px;
  height:39px;
  font-size:12px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:39px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:596px;
  top:871px;
  width:300px;
  height:10px;
}
#u132_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u132_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u132_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u133 {
  position:absolute;
  left:741px;
  top:881px;
  width:10px;
  height:122px;
}
#u133_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u133_end {
  position:absolute;
  left:-5px;
  top:105px;
  width:20px;
  height:18px;
}
#u133_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:122px;
}
#u134 {
  position:absolute;
  left:610px;
  top:891px;
  width:109px;
  height:68px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:68px;
}
#u135 {
  position:absolute;
  left:2px;
  top:26px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:610px;
  top:964px;
  width:109px;
  height:39px;
  font-size:12px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:39px;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:767px;
  top:891px;
  width:109px;
  height:68px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:68px;
}
#u139 {
  position:absolute;
  left:2px;
  top:26px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:767px;
  top:964px;
  width:109px;
  height:39px;
  font-size:12px;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:39px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:551px;
  top:254px;
  width:25px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u143 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:551px;
  top:717px;
  width:25px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u145 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:632px;
  top:210px;
  width:123px;
  height:14px;
  font-size:11px;
  color:#000000;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:14px;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:587px;
  top:192px;
  width:45px;
  height:45px;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u149 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150 {
  position:absolute;
  left:937px;
  top:260px;
  width:25px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u151 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u152 {
  position:absolute;
  left:972px;
  top:265px;
  width:100px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u153 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u154 {
  position:absolute;
  left:937px;
  top:348px;
  width:25px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u155 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u156 {
  position:absolute;
  left:972px;
  top:351px;
  width:330px;
  height:128px;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:128px;
}
#u157 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
#u158 {
  position:absolute;
  left:937px;
  top:565px;
  width:25px;
  height:25px;
  color:#FFFFFF;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u159 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u160 {
  position:absolute;
  left:972px;
  top:570px;
  width:368px;
  height:128px;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:128px;
}
#u161 {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  word-wrap:break-word;
}
#u162 {
  position:absolute;
  left:1072px;
  top:567px;
  width:228px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:19px;
}
#u163 {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  word-wrap:break-word;
}
#u164 {
  position:absolute;
  left:243px;
  top:1040px;
  width:300px;
  height:13px;
  font-size:10px;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:13px;
}
#u165 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u166 {
  position:absolute;
  left:937px;
  top:711px;
  width:25px;
  height:25px;
  color:#FFFFFF;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u167 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u168 {
  position:absolute;
  left:672px;
  top:1040px;
  width:300px;
  height:13px;
  font-size:10px;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:13px;
}
#u169 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u170 {
  position:absolute;
  left:972px;
  top:714px;
  width:300px;
  height:32px;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
}
#u171 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u172 {
  position:absolute;
  left:167px;
  top:98px;
  width:140px;
  height:22px;
  color:#000000;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:22px;
}
#u173 {
  position:absolute;
  left:2px;
  top:3px;
  width:136px;
  word-wrap:break-word;
}
#u174 {
  position:absolute;
  left:167px;
  top:27px;
  width:140px;
  height:43px;
  font-size:18px;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:43px;
}
#u175 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u176 {
  position:absolute;
  left:586px;
  top:98px;
  width:140px;
  height:22px;
  color:#000000;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:22px;
}
#u177 {
  position:absolute;
  left:2px;
  top:3px;
  width:136px;
  word-wrap:break-word;
}
