body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:780px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:80px;
  top:110px;
  width:298px;
  height:1128px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:1128px;
}
#u1 {
  position:absolute;
  left:2px;
  top:556px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:482px;
  top:110px;
  width:298px;
  height:1128px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:1128px;
}
#u3 {
  position:absolute;
  left:2px;
  top:556px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
